* body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 338px;
  height: 224.4px;
  border-radius: 12px;
}
.hidden {
  display: none;
}
.prueba {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}
.link {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  max-width: 600px;
  overflow: hidden;
  background: #f6f8fb;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 0.5rem;
}

.prueba1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #828282;
}

.prueba2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #bdbdbd;
}

.prueba3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #bdbdbd;
}

.button {
  width: 101px;
  height: 31.98px;
  left: 670.64px;
  top: 705.39px;
  background: #2f80ed;
  border-radius: 8px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;
  color: #ffffff;
}
#myFile {
  display: none;
}
#barra {
  display: none;
}
#text {
  display: none;
}
#droparea {
  text-align: center;
}
#hider {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}
.hident {
  display: none;
}
.hider {
}
.buttton {
  width: 90px;
  height: 38px;
  left: 813px;
  top: 698.03px;
  background: #2f80ed;
  border-radius: 8px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
.box {
  width: 402px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag {
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.droparea {
  background: #f6f8fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  border: 1px dashed #97bef4;
  box-sizing: border-box;
  border-radius: 12px;
}

footer {
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.piede {
  width: 287px;
  height: 17px;
  left: 569px;
  top: 1039px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
}
